
.o-texto{
    margin-top: 10rem;
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    padding: 25px
}
.parallax{
    background: url('https://wallpaperaccess.com/full/1518612.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 720px;

}